.infoIcon{
	margin-bottom:-2px; margin-left:3px; cursor:pointer;
}
.flex1{
	flex:1;
}
.flexColumn{
	display:flex; flex-direction:column;
}
.hide{
	display:none;
}
.explainWrap p{
	margin-top:5px; margin-bottom:5px;
}
.getHelpBtnWrap{
    background-color:#eef3f8; padding:10px 12px; z-index:500; text-align:center;
}	
.getHelpBtnWrap .button{
	font-size:15px; width:100%; color:#2F6384; font-weight:bold;
}	
.sidebar-content .getHelpBtnWrap .button{
	margin-bottom:0;
}
.umr-wrap .slider{
	margin-left:9px;
}

/* fix the accordion height issue in Safari */
.sidebar-content{
	height:auto !important;
}