.infoIcon{
	margin-bottom:-2px; margin-left:3px; cursor:pointer;
}
.flex-center{
	display:flex; align-items:center;
}
.flex1{
	flex:1;
}
.flex1a{
	flex:1; text-align:center;
}
.flexColumn{
	display:flex; flex-direction:column;
}
.flexSlideWrap{
	display:flex; min-height:50px; border-bottom:1pt solid #e8f5fe; align-items:end; padding-top:5px;
}
.flexSlideWrap .range-slider{
	margin:0 !important;
}
.flexSlideWrap .form-component{
	margin-bottom:0px;
}
.hide{
	display:none;
}
.explainWrap p{
	margin-top:5px; margin-bottom:5px;
}
.getHelpBtnWrap{
    background-color:#eef3f8; padding:10px 12px; z-index:500; text-align:center;
}	
.getHelpBtnWrap .button{
	font-size:15px; width:100%; color:#2F6384; font-weight:bold;
}	
.sidebar-content .getHelpBtnWrap .button{
	margin-bottom:0;
}
.umr-wrap .slider{
	margin-left:30px;
}
.umr-wrap h4{
	margin-bottom:4px;	
}
.mng-act-wrap h4{
	margin:10px 0 0px 0;
}
.umr-count-font{
	color:#2f6384; text-align:center; margin-top:-5px; margin-bottom:-10px;
}
.slider-container .ui-state-disabled {
    cursor: not-allowed !important;
}
.umr-slider-label{
	text-align:center; 
}
.rnum{
	color:#2f6384;
}
.label-off{
	color:#A5CBDD; text-decoration:line-through;
}
.umr-radio-indent{
	text-align:center;
}
.toggle-btn input[type=radio]:disabled+label{
	cursor:not-allowed; opacity:0.5;
}