body.waiting * {
    cursor: progress;
}
/* Opening buttons - what do you want to do? */
.navHeader{
	font-size:12pt; font-weight:100; display:inline-block; font-weight:bold; text-align:left; width:120px; padding-left:14px; text-indent:-14px; 
	vertical-align:middle;
}
.navHeaderD{
	font-size:12pt; font-weight:100; text-align:left; padding-left:28px; text-indent:-14px; 
	vertical-align:middle; margin-bottom:10px;
}
.navHeaderWide{
	font-size:12pt; font-weight:100; display:inline-block; font-weight:bold; text-align:left; padding-left:14px; text-indent:-14px; 
	vertical-align:middle;
}
hr.hrStyle {
    border: 0; height: 1px;  background-image: linear-gradient(to right, #ccc, #29658C, #ccc);
}
.navWrapperL{
	width:99%; text-align:left; margin-top:10px; margin-left:6px; height:46px;
}
.selectWrapper{
	margin:5px; display:inline-block;
}	
.navWrapper{
	width:100%; text-align:center; margin-top:10px; margin-bottom:20px;
}
.navBtn{
	padding:8px; text-decoration:none; -moz-border-radius:1px; -webkit-border-radius:1px; border-radius:1px; -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.5); box-shadow: 0 1px 2px rgba(0,0,0,0.5); border-bottom: 1px solid rgba(0,0,0,0.25); outline:none; position:relative;
	font-size:12pt; margin:5px; background-color:#f4f4f4; color:#000; text-shadow:0 -1px 1px rgba(255,255,255,0.25); font-weight:100; text-align:center;
	display:inline-block; border:1px solid gray;  
}
.navBtnSel{
	-moz-border-radius:1px; -webkit-border-radius:1px; border-radius:1px; border-bottom: 1px solid #a6a6a6; outline:none; position:relative; 
	margin:5px; background-color:#e8f5fe; color: #000; text-shadow:0 1px 1px rgba(0,0,0,0.25); font-weight:100; text-align:center;
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5); 
}
.navBtn:hover{
	background-color:#b8e1fc; cursor:pointer; text-shadow: 0 1px 1px rgba(0,0,0,0.25)
}
.navBtn:active{
	box-shadow: 1px 0px 3px rgba(0,0,0,0.5); text-shadow: 0 1px 1px rgba(0,0,0,0.25); 
}
.navBtnSel:hover{
	background-color:#e8f5fe; cursor:default; color:#000;
}
.bbarL{
	border-right: 1px solid #676767; border-left: 1px solid #676767;
}
.bbarR{
	margin-left:-10px; border-left: 1px solid #676767; border-right: 1px solid #676767;
}
/* Chosen select menu elements */
.chosen-container-single .chosen-single{
	padding: 0px 0 0 8px; font-size:12pt; height:26px; text-align:left; color:#000; 
}
.chosen-container-single .chosen-default, .chosen-container-multi .chosen-choices li.search-field input[type="text"]{
	color:#000;
}
.chosen-container-single .chosen-single abbr{
	right:16px;
}
.chosen-container-single .chosen-single span{
	margin-right:20px; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}
.chosen-container-single .chosen-single-with-deselect span{
	margin-right:20px; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}
.chosen-container ul.chosen-results li.highlighted {
  background-color:#b8e1fc; background-image:none; color:#000; font-size:12pt; text-shadow:0 -1px 1px rgba(0,0,0,0.25); font-weight:100;
}
.active-result{
	font-size:12pt;
}
abbr.search-choice-close {
  cursor: pointer;
}
/* Bottom Bar Elements */
.bottomDiv{
	position:absolute; bottom:0px; left:0px; width:100%; border-top-style:groove !important; height:30px !important;
	background-color:#F3F3F3 !important; padding-top:3px !important; display:none;
}
.sliderDiv{
	width:252px; margin:0 auto; text-align:center;
}

.leftSliderLabel{
	display:inline-block; margin-right:9px; font-size:10pt;
}
.slider{
	width:100px; display:inline-block;
}
.ui-slider-horizontal {
	height: 5px;
}
.ui-slider-horizontal .ui-slider-handle {
	height:15px; width:15px; margin-top:-1px;
}
.rightSliderLabel{
	display:inline-block; margin-left:5px; font-size:10pt;
}
.hide{
	display:none;	
}	
.bld{
	font-weight:bold; color:#21658c;
}	